


<br>
<div class="row" >
    <div class="col-md-4 offset-md-4 align-self-center">
     <div style="background-color: rgb(231, 229, 229);padding:50px;text-align: center"> <h1> {{title}}</h1></div><br>
     <form>
            <div class="form-group">
              <input type="text" class="form-control" id="itemName" placeholder="Enter Grocery Item " ng-model="item.itemName">
             
            </div>
           
            <button type="button" ng-click="save()" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-pushpin"></span>Save</button><br>
           <a href="/#!/"> <button type="submit" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-remove"></span>Cancel</button></a>

          </form>
    
this is paramValue {{paramValue}}
    </div></div>