<button type="button" style="background-color:green;color:white;margin:0 mr-auto" class="btn btn-default btn-md pull-left ">
    <span class="glyphicon glyphicon-ok-sign "></span>
</button>
<a href="/#!/addItem/{{item.id}}">{{item.itemName|uppercase}}</a>
<button type="button" class="btn btn-default btn-md pull-right mr-auto">
    <span class="glyphicon glyphicon-pencil "></span>
</button>