
<br>
<div class="row">
    <div class="col-md-4 offset-md-4 align-self-center">
        <a href="#!/addItem">
        	<button type="button" class="btn btn-primary btn-lg btn-block" >
        		<span class="glyphicon glyphicon-plus"></span>
        		Add Grocery Item
        	</button>
        </a><br>
      <ul class="list-group" >
    <li class="list-group-item text-center clearfix" ng-repeat="item in groceryList">
        <grocery-list-directive></grocery-list-directive>
     
    </li>
    
    
  </ul>
    </div>