<!doctype html>

<html>

<head>
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <script src="lib/jquery.min.js">    </script>
    <script src="lib/bootstrap.js">  </script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js">  </script>
    <script src="script.js">     </script>
    <script type="text/javascript">
        angular.element(document.getElementsByTagName('head')).
        append(angular.element('<base href="' + window.location.pathname + '" /#!>'));
         </script>
</head>

<body ng-app="plunker">
    <div ng-controller="MainCtrl">

        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                {{appTitle}}
            </a>
        </nav>

        <div ng-view></div>
    </div>


</body>

</html>